html{
    font-size: 62.5%;
}

body{
    margin: 0;
}

.background{
    width: 100%;
    height: 100%;
    z-index: -1;
    position:fixed;
    user-select: none;
}

.background img{
    width: 100%;
    height: 100vh;
}

.play-screen{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #404040b0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
}

.btn-play{
    width: 25%;
    height: 15rem;
    color: white;
    background-color: #868686;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 8rem;
    
}

.game-area{
    border: 2px solid red;
    position: absolute;
    top: 0;
    left: 0;
}

.damagePlayer{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ff060658;
}

.touchPlayer{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgba(247, 87, 87, 0.347);
    z-index: 1000;
}

.wrong-rotation{
    position: fixed;
    display: none;
    padding: 2rem;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(89, 89, 89, 0.704);
    color: white;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    text-align: center;
}

.stop-btn{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border: 3px solid white;
    border-radius: 5px;
}

.stop-screen{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #404040b0;
    font-size: 8rem;
}

.btn-restart{
    width: 25%;
    height: 15rem;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #868686;
    color: white;
    padding: 1rem 2rem;
    font-size: 4rem;
    cursor: pointer;
}

@media screen and (orientation: portrait){
    .game-area{
        display: none;
    }

    .play-screen{
        display: none;
    }

    .wrong-rotation{
        display: flex;
    }
}

@media screen and (orientation: landscape){
    .game-area{
        display: block;
    }

    .play-screen{
        display: flex;
    }

    .wrong-rotation{
        display: none;
    }
}